.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    list-style-type: none;
}

.gallery-image:hover {
    transform: scale(1.05);
}